* {
    box-sizing: border-box;
}

.title-font {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}
.form-control {
    border: 2px solid grey; 
    border-radius: 0;
    padding: 0 25px; 
    line-height: 45px;
    height: 45px;
}
.btn-primary {
    background-color: aquamarine;
}
.btn-primary:hover {
    background-color: teal;
}
